{{#admin-nav}}
  {{nav-item route='adminPlugins.ad-plugin.homepage' label='Homepage'}}
  {{nav-item route='adminPlugins.ad-plugin.posts-page-top' label='Posts Page Top'}}
  {{nav-item route='adminPlugins.ad-plugin.inbetween-posts' label='Inbetween Posts'}}
  {{nav-item route='adminPlugins.ad-plugin.posts-page-bottom' label='Posts Page Bottom'}}
{{/admin-nav}}

<div class="container">

{{!-- {{Look at user fields and decide on routes that we would need to set this all up}} --}}

{{!-- {{This should change based on the route?}} --}}

<div class="admin-container">
  {{outlet}}
</div>

</div>