form here dfp

<form class="form-horizontal">

  <div>
    <label for="name">pub id</label>
      {{text-field name="name" value='hello' placeholderKey=""}}
  </div>

  

  {{!-- <div>
    <label>
      {{input type="checkbox" checked=model.visible}}
      {{i18n 'groups.visible'}}
    </label>
  </div> --}}

  {{!--<div class='buttons'>
    <button {{action "save"}} {{bind-attr disabled="disableSave"}} class='btn btn-primary'>Submit</button>
  </div> --}}

</form>