{{#admin-nav}}
  {{nav-item route='adminPlugins.ad-plugin.dfp' label='dfp'}}
  {{nav-item route='adminPlugins.ad-plugin.adsense' label='adsense'}}
{{/admin-nav}}

<div class="container">

{{!-- {{Look at user fields and decide on routes that we would need to set this all up}} --}}

{{!-- {{This should change based on the route?}} --}}

<div class="admin-container">
  {{outlet}}
</div>

</div>